a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40min;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomeContainer {
  position:absolute;
  /* align-content: center; */
  margin:auto;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
}

.ViewPostContainer{
  display:block;
}
.jumbotron{
  text-align: center;
   position: inherit;
   margin-top: 40px;  
   /* padding-top:5000px; */
   
}

.NavBar 
{
  position: fixed;
  top: 0;
  width:100%;
  z-index:1000000;
}

.PostContainer {
  /* text-align: center; */
  display:block;
  margin-top:7rem;
  /* width:100%; */
  /* min-width: 900px; */
  /* justify-self: center; */
  
}

.PostCard
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 10px;
  /* width:30%; */
  /* height:150px; */
  background-color:#969696d3;
  border:0px;
  color:white;
  align-items:center;
  text-align: center;
  padding:4px;
  border-radius:4px;
}

#PostLink {
  text-decoration: none;
  color:white;
  width:100%;
  height:100%

}

.PostCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.CardFooter {
  font-style:italic;
  font-size:.5rem;
  /* margin-top:1000; */
  position: inherit;
/* bottom: ; */
  
}

.pagination {
  /* display: inline !important; */
  list-style: none;
  outline: none;
  justify-content: center;
  display: flex;
  
}
.pagination > .active > a{
  background-color: #d3d3d3 ;
  border-color:  #d3d3d3 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid  #d3d3d3 ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color:  #d3d3d3 ;
  border-color:  #d3d3d3;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color:  #d3d3d3
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
.article{
  display:flex;
  justify-self: center;
  justify-content: center;
  white-space: pre-line;
}
.comment {
  display:block;
  justify-self: center;
  justify-content: center;
  /* background-color:#d3d3d3; */
  border-style:solid;
  border-color:#d3d3d3;
  height:100%;
  width:100%;
}

.PostBody {
  width:70%;
  display: flex;
  justify-self: center;
  line-height: 3rem;
  font-size: 1.5rem;
  word-break: break-word;
  word-wrap: center;
  white-space: pre-line;

}

.PostFooter {
  font-style:italic;
  font-size:.7rem;
  display:flex;
  justify-self: center;
}

#FormattedText {
  white-space: pre-line;
  max-width: inherit;
  overflow-x: auto;
}

.CreatePostForm {
  display:inline-block;
  width:100%;
}

.CreateFormLabel {
  display:flex;
  justify-self: left;
}

.CreateFormInput {
  display:flex;
  justify-self: center;
  width:100%;
}
.UsernameBox {
  color:white;
  text-align:center;
  display:inline-block;
}

#UserNameText {
  /* word-wrap: break-word; */
  font-size:.8 rem;
}


#CreateFormBody {
    /* height:1000px; */
    width:100%;
}

.shareButtons 
{ 
  position:fixed;
  margin-top: 100px;  
}

.shareButtons button
{ 
  display:block;
  
}

/*  */

pre code{
  background-color: #eee;
  border: 1px solid #999;
  display:block;
  word-wrap:break-word;
  color: #ff007f;
  width:100%;
}

pre .UserCode {
  width:100%;
}

.UserCode {
  background-color: #eee;
  border: 1px solid #999;
  display:block;
  word-wrap:break-word;
  color: #ff007f;
  width:100%;
}


.DropDownLink.active {
  background-color: white !important;
  color: #282c34 !important;
}

.DropDownLink:hover {
  background-color:  #282c34 !important;
  color: white !important;
}

/* MOBILE CSS */
@media only screen and (max-width: 600px) {
  html {
    font-size:70%;
  }
  input {
    width: 50%;
  }
  .jumbotron{
    text-align: center;
     position: inherit;
     margin-top: 40px;  
     font-size:1rem;
     
  }
  .jumbotron h1 {
     font-size:2rem;
     
  }
  .PostBody {
    max-width: inherit;
    display: flex;
    justify-self: center;
    line-height: 1.5rem;
    font-size: .8rem;
    word-break: break-word;
    word-wrap: center;
  }
  .shareButtons 
  { 
    margin-top:60%;
    
  }

  .PostContainer{
    width:100%;
  }
  
}
/* DESKTOP CSS */
@media only screen and (min-width: 900px) {
  .PostContainer {
    min-width: 900px;
  }
}

